{% extends 'home/base.html'%}
{% block content %}

{% include 'home/navbar.html' %}
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal">Banking System</h1>
      <p class="lead font-weight-normal">Bank never asks for confidential information such as PIN and OTP from the customers. Any such call can be made only by a fraudster. Please do not share personal info</p>
      <a class="btn btn-outline-secondary" href="{% url 'accounts:user_login'%}">Login</a>
      <a class="btn btn-outline-secondary" href="{% url 'accounts:user_registration'%}">Sign Up</a>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
  </div>


{% endblock %}